<div class="row post-meta">

	
	<dl class="col-md-6 my-0">
		<dt>
			<i class="fal fa-folder" aria-hidden="true"></i><br>
			Kondisi disabilitas/neurodivergen:</dt>
		<dd>
			{{ page.header.taxonomy.category|join(', ') }}
		</dd>
	</dl>
	

	<dl class="col-md-6 my-0">
		<dt>
			<i class="fal fa-calendar" aria-hidden="true"></i><br>
			Tanggal dikirim:</dt>
		<dd>
			{{ page.date|date("d M Y")|replace({
    'Jan': 'Jan', 'Feb': 'Feb', 'Mar': 'Mar', 'Apr': 'Apr',
    'May': 'Mei', 'Jun': 'Jun', 'Jul': 'Jul', 'Aug': 'Agu',
    'Sep': 'Sep', 'Oct': 'Okt', 'Nov': 'Nov', 'Dec': 'Des'
}) }}
		</dd>
	</dl>
</div>
