<li class="col-md-6">
<a href="{{ page.url }}" aria-label="{{ page.title }}">
    <div class="card h-100">
        <div class="card-header">
            <h3>{{ page.title }}</h3>

        </div>
        <div class="card-body">
            {% if page.header.metadata.description %}
            <p>{{ page.header.metadata.description }}</p>
            {% endif %}
        </div>

    </div></a>
</li>