{% extends 'partials/base.html.twig' %}
{% block content %}

<main class="container min-vh-100" id="utama" style="padding-top:4em">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="post-title">
                Error 404 - Halaman Tidak Ditemukan
            </h1>
            <div class="post-content">
                <p>Maaf, halaman yang kamu cari tidak tersedia atau mungkin sudah dipindahkan.</p>
                <p>Silakan kembali ke <a href="{{ base_url }}">Beranda</a>. Jika kamu merasa ini sebuah kesalahan, <a href="mailto:info@rifatnajmi.com">hubungi saya</a>.</p>
                <a href="{{ base_url }}" title="Kembali ke halaman utama"><i class="fal fa-arrow-left" aria-hidden="true"></i> Kembali ke Beranda</a>
            </div>
        </div>
    </div>
</main>

{% endblock %}
